
// Converted Variables


// Custom Media Query Variables


/*
 * sircus-tools-align-responsive(lg)
 ================================================== */

@media #{$g-viewport-lg} {
  .t-lg-alignLeft       { text-align: left !important; }
  .t-lg-alignRight      { text-align: right !important; }
  .t-lg-alignCenter     { text-align: center !important; }
  .t-lg-alignJustify    { text-align: justify !important; }
  .t-lg-alignTop        { vertical-align:top !important; }
  .t-lg-alignMiddle     { vertical-align:middle !important; }
  .t-lg-alignBottom     { vertical-align:bottom !important; }
  .t-lg-alignBaseline   { vertical-align:baseline !important; }
  .t-lg-alignTextTop    { vertical-align:text-top !important; }
  .t-lg-alignTextBottom { vertical-align:text-bottom !important; }
}
